@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');
*
{
    margin:0;
    padding:0;
    background-color: #00203FFF;
    perspective: 600px;
}
body
{
    height:100vh;
    
}
.App
{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper
{
    height:50vh;
    width:50vw;
    margin:auto;
    display: flex;
    justify-content:center;
    opacity:0;
    /* border: 2px solid white; */
}
.book
{
    margin:auto;
    display: grid;
    width:max-content;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    position:relative;
    transform:rotateX(30deg);
    transition:transform 1s;
}
.page
{
    height:300px;
    width:200px;
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 0px 5px 5px 0px;
    margin-top: 10px;
    transition: transform 1s;
    transform-origin: center left;
    background-color: #ECECEC;
    justify-content: center;
    align-content: center;
    opacity:1;
}
.cover
{
    grid-row-start: 1;
    grid-column-start: 1;
    height:320px;
    width:220px;
    border-radius: 0px 5px 5px 0px;
    background-color: #ADEFD1FF;
    transition: transform 1s;
    transform-origin: center left;
    box-shadow: 1px 1px 10px #0077A2;
}

.front
{
    z-index: 1;
    opacity:1;
}
.back
{
    z-index: -1;
    opacity:1;
}

/* .cover:hover 
{
    transform:rotateY(-180deg);
}
.book:hover
{
    transform:rotateX(30deg) translateX(100px) translateY(20vh);
} */

.left
{
    height:10vh;
    width:5vw;
    position:fixed;
    display: none;
    left:3vw;
    top:45vh;
    z-index: 3;
    overflow: hidden;
}
.right
{
    height:10vh;
    width:5vw;
    position:fixed;
    right:3vw;
    top:45vh;
    z-index: 3;
    overflow: hidden;
}

button
{
    border: none;
}

button > img:hover
{
    opacity: 70%;
    cursor: pointer;
}

.pageImage
{
    width:100%;
    height:auto;
    max-width:100%;
    display:block;
    margin:0 auto;
    position: relative;
}
.imageContainer
{
    height:100px;
    width:100px;
    position:relative;
    transition: all 1s;
    background-color: inherit;
    overflow: visible;
}

.floatingImage
{
    height: 100%;
    width:100%;
    object-fit: contain;
}

.introWrapper
{
    height:75vh;
    width:75vw;
    margin:auto;
}

.wordSpace
{
    height:75%;
    width:75%;
    margin:auto;
    position: relative;
    top:9.375vh;
    color:#ADEFD1FF;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr;
}

.message
{
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: justify;
    margin:auto;
    opacity:0;
    transition: all 1s;
    font-family: 'Jost', sans-serif;
    font-size: 10vh;
    font-weight: 500;
}

#message0
{
    opacity:1;
}

.pageTextContainer
{
    text-align: center;
    border: 2px solid red;
    position:relative;
    margin:auto;
    background-color: inherit;
    color: #333333;
    font-family: 'Jost', sans-serif;
    font-size: 3vh;
    font-weight: 300;
    transition: all 2s;
    left:100vw;
    opacity:0;
}


